
body {
  background:#0b1628;
  color:white;
  font-family:Arial, sans-serif;
  text-align:center;
}

table {
  width:90%;
  margin:auto;
  border-collapse:collapse;
}

th, td {
  border-bottom:1px solid #444;
  padding:10px;
}

th {
  background:#1c2b45;
}
